
body {
    margin: 0;
    background: #fff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    width: 300px;
    border: none;
}
h1 {
    color: #0094ff;
    margin-bottom: 40px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #888;
   
}
label {
    display: block;
    text-align: left;
    margin-top: 10px;
}
.links {
    margin: 5px 0 20px 0;
    display: flex;
    justify-content: space-between;
}
.links a {
    font-size: 12px;
    color: #4b4bff;
    text-decoration: none;
}
.btn-login {
    
    padding: 10px 20px;
    background: #0094ff;
    border: 1px solid #555;
    cursor: pointer;
}