body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}


.barra-superior {
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscar {
    width: 70%;
    padding: 8px;
    border: 1px solid #aaa;
}

.iconos .icono {
    background: none;
    border: 1px solid black;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
}


.contenedor-mesas {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.mesa {
    background: #d9d9d9;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
}


.disponible {
    color: green;
}

.ocupada {
    color: red;
}

.hora {
    font-size: 18px;
    margin: 5px 0;
}


.btn-iniciar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #6a5b5b;
    color: white;
    border: none;
}

.btn-finalizar {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: red;
    color: white;
    border: none;
}


.input {
    width: 90%;
    padding: 5px;
    border: 1px solid gray;
    margin: 10px 0;
}
